#textbox-one {
    top: 18.7037%;
    left: 23.4375%;
    position: fixed;
    width: 67.3958%;
    height: 31.2962%;  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 250px;
    line-height: 337px;
    text-align: right; 
}

#textbox-two {
    top: 50%;
    left: 23.4375%;
    position: fixed;
    width: 67.3958%;
    height: 31.2962%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 250px;
    line-height: 337px;
    text-align: right;
}

#textbox-op {
    top: 50%;
    left: 5.8333%;
    position: fixed;
    width: 17.60416%;
    height: 31.2962%;
    font-style: normal;
    font-weight: normal;
    font-size: 250px;
    line-height: 337px;
    text-align: center;
}