#container {
    margin-top: 100px;
}

* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 11.11%;
    padding: 1px;
    height: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 260px;
}

.value-container::after {
    content: "";
    clear: both;
    display: table;
}